* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
}

body {
    font-family: sans-serif;
}

header {
    background-image: linear-gradient(to right, #bebfe0 0%, #43e7ec 100%);
}

h1 {
    display: inline;
    font-size: 70px;
    color: rgba(247, 247, 14, 0.945)
}

h3 {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

article {
    text-align: center;
}

section {
    text-align: center;
}

.logo {
    position: fixed;
    top: 5px;
    right: 20px;
    width: 120px;
}

p {
    padding: 10px;
}

nav {
    /* padding-right: 50px; */
    display: flex;
    justify-content: center;
    background-color: #789fdb;
    
}

nav a {
    padding: 7px;
   
/*     display: inline-block; */
    text-decoration: none;
/*     text-align: center; */
    color: black;
   /*  position: relative;
    top: 10px; */
}

a:hover {
    background-color: chartreuse;
    color: black;
    border-radius: 10px;
}

a[href="#"] {
    background-color: rgb(222, 241, 44);
    border-radius: 10px;
}

.intro-img {
    max-height: 250px;
    width: 100%;
}

.tittle {
    border: 5px solid black;
    text-align: center;
    font-size: 35px;
    margin-top: 0;
}