* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
}

body {
    font-family: sans-serif;
    font-weight: bold;
/*     background-image: linear-gradient(45deg, rgba(184, 199, 212, 0.705) 0%, rgba(170, 175, 201, 0.685) 99%,
            rgba(172, 207, 175, 0.952) 100%), url(img/Logo_Mighty_ducks-01.png);
    background-size: cover;
    background-position: center; */
}

header {
    background-image: linear-gradient(to right, #bebfe0 0%, #43e7ec 100%);
}

h1 {
    display: inline;
    font-size: 70px;
    color: rgba(247, 247, 14, 0.945)
}

h3 {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

article {
    text-align: center;
    /* padding-left: 220px; */
}

section {
    text-align: center;
    /* padding-left: 220px; */
}

.logo {
    /*  position: absolute;
    padding-left: 20px; */
    position: fixed;
    /* bottom: 480px; */
    top: 60px;
    left: 1px;
}

nav {
    text-align: end;
    padding-right: 50px;
}

nav a {
    padding: 7px;
    background-color: #789fdb;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    top: 10px;
}

a:hover {
    background-color: chartreuse;
    color: black;
}

a[href="#"] {
    background-color: rgb(222, 241, 44);
}

.intro-img {
    max-height: 250px;
    width: 100%;
}

.titulo {
    border: 5px solid black;
    text-align: center;
    font-size: 35px;
    margin-top: 0;
}