body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
}

header {
    background-image: linear-gradient(to right, #bebfe0 0%, #43e7ec 100%);
}

h1 {
    display: inline;
    font-size: 70px;
    color: rgba(247, 247, 14, 0.945)
}

h3 {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

article {
    
    text-align: center;
}

nav {
    text-align: end;
    padding-right: 50px;
   
}

nav a {
    padding: 7px;
    background-color: #789fdb;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}

/* a:hover{
    background-color: chartreuse;
    color: black;
} */

a[href="#"] {
 background-color: rgb(222, 241, 44);   
}

.intro-img{
    width: 100%;   
}

.titulo {
    border:  2px solid black;
    text-align: center;
    font-size: 35px;
    margin-top: 0;
}

